


.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 2fr 2fr 2fr;


}

img{
  max-width: 90%;
  max-height: 90%;
}


.navbar{
  grid-column: 1/5;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score{
  grid-column: 1/5;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%
}



div[class^='q'], div[class*=' q'], .activeClass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}

div[class^='q']:hover, div[class*=' q']:hover{
transform: scale(1.1);
}

.qt1 {
  grid-column: 1;
  grid-row: 3;
}
.qt2 {
  grid-column: 2;
  grid-row: 3;

}
.qt3 {
  grid-column: 3;
  grid-row: 3;
}

.qt4 {
  grid-column: 4;
  grid-row: 3;

}

/* middle row */

.qm1 {
  grid-column: 1;
  grid-row: 4;

}
.qm2 {
  grid-column: 2;
  grid-row: 4;

}
.qm3 {
  grid-column: 3;
  grid-row: 4;

}
.qm4 {
  grid-column: 4;
  grid-row: 4;

}

/* bottom row */

.qb1 {
  grid-column: 1;
  grid-row: 5;

}
.qb2 {
  grid-column: 2;
  grid-row: 5;

}
.qb3 {
  grid-column: 3;
  grid-row: 5;

}
.qb4 {
  grid-column: 4;
  grid-row: 5;

}